body{
    background-color: rgba(8, 126, 110, 0.308);
    color: #00463a;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    margin: 50px;
}

h1, h2{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

h1{
    text-align: center;
    font-size: 22pt bold;
    text-decoration: underline;
}

h2{
    font-size: 18pt normal;
}

a{
    color: #A4A400;
}

.directions, .ingridients, #comment{
    line-height: 20pt;
}

